/* Full Application CSS for swat-flow-tool */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
/* BEGIN | General Application CSS section */
body {
  -ms-overflow-style: scrollbar;
  -webkit-app-region:drag;
  margin: 0px;
  padding: 0px;
  width: 450px;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid hsl(217, 71%, 53%);
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
input[type="tel"],
button,
a,
li,
textarea {
	-webkit-app-region: no-drag;
}

::-webkit-scrollbar {
  display: none;
  }
/* END | General Application CSS section */

/* BEGIN | Primary Vue Application Vue CSS */
#app {
  position: relative;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 450px;
  height: 698px;
  top: 0px;
}

#app input[type="submit"],
#app input[type="reset"],
#app input[type="button"],
#app input[type="text"],
#app input[type="tel"],
#app button,
#app a,
#app li,
#app textarea {
	-webkit-app-region: no-drag;
}
/* END | Primary Vue Application Vue CSS */

/* BEGIN | Application top icon links CSS */
#app-top-links {
  position: relative;
  margin: 0px;
  right: 2px;
  padding: 0px;
  height: 30px;
  width: 100%;
  border: 0px;
}
/* END | Application top icon links CSS */

/* BEGIN | Primary App Deck CSS */
#prime-app-deck {
  position: relative;
  display: block;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  border: 0px;
  height: 600px;
  width: 450px;
}
/* END | Primary App Deck CSS */

/* BEGIN | App top nav CSS */
nav {
  position: relative;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 98%;
  padding: 0px;
  border: 0px;
}
/* END | App top nav CSS */

/* BEGIN | App footer CSS */
footer {
  position: absolute;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid hsl(0, 0%, 71%);
  bottom: 0px;
  height: 70px;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

footer img {
  position: relative;
  top: 2px;
}

#app-vers {
  position: absolute;
  right: 10px;
  bottom: 2px;
  font-size: 10px;
}
/* END | App footer CSS */

/* BEGIN | App home page CSS */
#home-links {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
}
/* BEGIN | App home page CSS */

/* BEGIN | Swat Flow Vue CSS */
#swat-deck {
  position: relative;
  top: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 545px;
}

#flow-start-message {
  position: relative;
  margin: 0px;
  margin-left: 20px;
  margin-right: 20px;
}
/* END | Swat Flow Vue CSS */

/* BEGIN | Swat Note Vue CSS */
#swat-note-input {
  position: relative;
  margin: 0px;
  margin-left: 20px;
  padding: 0px;
  border: 0px;
  width: 70%;
  height: 300px;
}

#sitch-text {
  margin-bottom: 30px;
}

#call-notes {
  position: relative;
  margin: 0px;
  margin-left: 20px;
  padding: 0px;
  border: 0px;
  width: 70%;
  height: 240px;
}

#call-notes p {
  margin: 10px;
  font-weight: bold;
  font-size: 14px;
}
/* END | Swat Note Vue CSS */