/* Full Application CSS for swat-flow-tool */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* BEGIN | General Application CSS section */
body {
  -ms-overflow-style: scrollbar;
  -webkit-app-region:drag;
  margin: 0px;
  padding: 0px;
  width: 450px;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid hsl(217, 71%, 53%);
  background-color: #262626;
}

html{
  font-family: 'Open Sans', sans-serif;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
input[type="tel"],
button,
a,
li,
textarea {
	-webkit-app-region: no-drag;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  outline: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
  }
/* END | General Application CSS section */

/* BEGIN | Primary Vue Application Vue CSS */
#app {
  position: relative;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 450px;
  height: 698px;
  top: 0px;
}

#app input[type="submit"],
#app input[type="reset"],
#app input[type="button"],
#app input[type="text"],
#app input[type="tel"],
#app button,
#app a,
#app li,
#app textarea {
	-webkit-app-region: no-drag;
}
/* END | Primary Vue Application Vue CSS */

/* BEGIN | Application top icon links CSS */
#app-top-links {
  position: relative;
  margin: 0px;
  right: 2px;
  padding: 0px;
  height: 30px;
  width: 100%;
  border: 0px;
}

#close-btn {
  background-color: #1a1a1a;
  color: #4d4d4d;
}

#close-btn:hover {
  color: hsl(217, 71%, 53%);
}

#crm-icon {
  position: absolute;
  margin: 3px;
  background-color: #1a1a1a;
  color: #4d4d4d;
}

#crm-icon:hover {
  color: hsl(217, 71%, 53%);
}

#close-btn:hover {
  color: hsl(217, 71%, 53%);
}

#settings-one {
  position: absolute;
  top: 30px;
  right: 6px;
  margin: 3px;
  padding: 0px;
  z-index: 1;
  background-color: #1a1a1a;
  color: #4d4d4d;
}

#settings-one:hover {
  color: hsl(217, 71%, 53%);
}
/* END | Application top icon links CSS */

/* BEGIN | Primary App Deck CSS */
#prime-app-deck {
  position: relative;
  display: block;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  border: 0px;
  height: 600px;
  width: 450px;
}
/* END | Primary App Deck CSS */

/* BEGIN | App top nav CSS */
nav {
  position: relative;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 97%;
  padding: 0px;
  border: 0px;
}
/* END | App top nav CSS */

/* BEGIN | App footer CSS */
footer {
  position: absolute;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid #1e1e1e;
  bottom: 0px;
  height: 70px;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

#footer-img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 38px;
  width: 200px; 
  top: 6px;
  background-image: url(./assets/images/logo-long-dark.png);
}

#app-vers {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 8px;
  font-size: 10px;
  letter-spacing: .1em;
  color: hsl(217, 71%, 53%);
}

#app-vers strong {
  color: hsl(217, 71%, 53%);
}

#helper-one {
  position: absolute;
  top: 1px;
  left: 2px;
  margin: 0px;
  padding: 0px;
}

#helper-one a {
  background-color: #1a1a1a;
}

#helper-icon:hover {
  color: hsl(217, 71%, 53%);
}
/* END | App footer CSS */

/* BEGIN | App home page CSS */
#home-links {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
}

#logo-main {
  position: relative;
  width: 180px;
  height: 129px;
  background-image: url(./assets/images/sft-logo.png);
  text-align: center;
  top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
}

#get-start {
  position: relative;
  width: 50%;
  text-align: center;
  top: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0px solid;
}

#swat-motto {
  position: relative;
  width: 70%;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  color: white;
  top: 170px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
}

#swat-motto strong {
  color: #4d4d4d;
}
/* BEGIN | App home page CSS */

/* BEGIN | Swat Flow Vue CSS */
#swat-deck {
  position: relative;
  top: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 545px;
}

#flow {
  position: relative;
  display: block;
  margin: 0px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  border: 0px;
  width: 85%;
  height: 340px;
  top: 10px;
}

#wsod-message {
  position: relative;
  margin: 0px;
  margin-left: 20px;
  margin-right: 20px;
}

#switch-set {
  position: relative;
  text-align: center;
  display: block;
  margin: 0px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

#flow-start-message {
  position: relative;
  margin: 0px;
  margin-left: 20px;
  margin-right: 20px;
}
/* END | Swat Flow Vue CSS */

/* BEGIN | Swat Note Vue CSS */
#note-deck {
  position: relative;
  top: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 600px;
}

#swat-note-input {
  position: relative;
  display: block;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  border: 0px;
  width: 70%;
  height: 300px;
}

#swat-note-input input, 
#swat-note-input textarea {
  background-color: #efefef;
}

#sitchnotes {
  margin-bottom: 12px;
}

#call-notes {
  position: relative;
  display: block;
  top: 25px;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  background-color: #efefef;
  border-radius: 4px;
  width: 70%;
  height: 170px;
  overflow: scroll;
  -ms-overflow-style: scrollbar;
  -webkit-app-region: no-drag;
  color: #262626;
}

#call-notes p { 
  margin: 5px;
  font-size: 12px;
}

#call-notes section {
  text-align: left;
}

#note-buttons {
  position: relative;
  top: 35px;
  display: block;
  bottom: 0px;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  border: 0px;
  width: 70%;
  height: 30px;
}

#closed {
  position: relative;
  margin: 0px;
  padding: 0px;
  top: -20px;
  left: 100px;
}
/* END | Swat Note Vue CSS */

/* START | Swat Tools & Links Vue CSS */
#tool-page {
  position: relative;
  width: 90%;
  height: 490px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
}

#tool-sec {
  position: relative;
  margin: 0px;
  margin-top:10px;
  padding: 0px;
}

#tool-title {
  position: absolute;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}

#tool-tabs {
  position: relative;
  display: block;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  padding:0px;
  border: 0px;
  width: 100%;
  height: 35px;
}

#tool-tab-left {
  position: relative;
  float: left;
  margin: 0px;
  margin-left: 2px;
  padding: 0px;
  width: 150px;
  height: 35px;
  border: 0px;
}

#tool-tab-right {
  position: relative;
  float: right;
  margin: 0px;
  margin-right: 2px;
  padding: 0px;
  width: 150px;
  height: 35px;
  border: 0px;
}

#tool-tab-center {
  position: relative;
  text-align: center;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 25px;
  border: 0px;
}

#tool-tab-right a {
  float: right;
}

#dns-tool {
  position: relative;
  margin: 0px;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  height: 70px;
  border: 0px;
}

#dns-help {
  margin-bottom: 0px;
}

#link-help {
  margin-top: 10px;
  margin-bottom: 0px;
}

#dns-output {
  margin-top: 5px;
  float: left;
  width: 55%;
}

#dns-reset {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  width: 70px;
}
/* END | Swat Tool Vue CSS */



h5 { 
  margin: 1px;
  padding: 0px;
}

a {
  margin: 1px 0px 1px 0px;
}

/* END | Swat Tool Vue CSS */